
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";
@import "../node_modules/react-datepicker/dist/react-datepicker.min.css";
@import  "../node_modules/react-select/dist/default.css";
@import  "../node_modules/fixed-data-table/dist/fixed-data-table.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@define-mixin gridify $col, $width, $gutter: 2 {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                width: calc((100 / $col) - $gutter)%;
            }
            @mixin-content;
        }
    }
}

@mixin gridify 2, 400 {}
@mixin gridify 4, 600 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

body{
    font-family: 'Palatino', 'Georgia','serif'
}

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

.date-picker-ex,
.select-react,
.notification {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.select-react{
    width : 200px;
}

.tnail{
    width: 50px;
    height: 50px;
}

.homepage{
    padding-top: 5rem;
    max-width: 515px;
    margin: 0 auto;

    ul{
        padding: 0;
        list-style-type: none;
        font-family: "Helvetica Neue","Helvetica",sans-serif;   
        max-width: 400px;
        margin: 0 auto;
        .component  {
            height: 200px;
            margin-bottom: 1.5rem;
            position: relative;
        }
    
    }

    a{
        display: block;
        text-decoration: none;
        background: rgba(255,255,255,.75);
        position: absolute;
        font-size: 2rem;
        top: 0%;
        bottom: 0%;
        width: 100%;
        height: 100%;
        color: #363942;
        transition: all .2s;
        padding-left: 5px;
        border-left: 2px solid rgba(0,115,96,0);
        &:hover{
            background: rgba(190,235,159,.5);
            border-left: 2px solid rgba(0,115,96,1);
        }


    }
}

hr {
    margin-bottom: 1rem;
}
